<form method="post" action="{{ path('app_restauranttable_delete', {'tableid': restauranttable.tableid}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ restauranttable.tableid) }}">
	<button class="btn btn-outline-danger">Delete</button>
</form>
