{% extends 'baseBack.html.twig' %}

{% block title %}New Reservation
{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
	<div class="container">
		<br><br>
		{% verbatim %}{% endverbatim %}
		<h1>Add Reservation</h1>
		<br>

		{{ include('reservation/_form.html.twig') }}

		<br><br><br>

		<a href="{{ path('app_reservation_index') }}" class="btn btn-dark">Back to List</a>
	</div>
{% endblock %}
